/* Style the header */
.header {
	margin: 0vh 0vh 1vh 0vh;
	padding: 1vh 2vh 0vh 2vh;
	position: fixed;
	top: 0;
	z-index: 1;
	width: 100%;
	height: 8vh;
	text-align: center;
	background-color: white;
}
